body {
  padding-top: 50px;
}

.text-justify {
  text-align: justify;
}

main {
  width: 75%;
}

.about-img {
  display: block;
  height: 350px;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

.section-heading {
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.section-title,
.card-title {
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.section-title {
  font-size: 26px;
  color: var(--white);
}

.btn-main,
.btn-warning {
  color: var(--white);
  border: none;
  background: var(--primary);
}

.btn-warning {
  background: var(--warning);
}

.btn-main:hover,
.btn-warning:hover {
  color: var(--white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
  padding: 10px;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
}

.nav-footer-background,
.card-title-background {
  background: var(--primary);
  color: var(--white);
}

.card-title {
  font-size: 20px;
  text-align: left;
}

.about-initial,
.social-icons {
  font-size: 24px;
}

.tata-steel-logo {
  height: 8rem;
}
.innovant-logo {
  height: 3rem;
}

@media (max-width: 576px) {
  main {
    width: 95%;
  }
}
